#infocard-body{
    width: 100%;
    height: 100%;
    padding: 15px;
    #go-back-button{
        height: 25px;
        width: 80px;
        font-size: 20px;
        line-height: 25px;
        user-select: none;
        img{
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }
    #header-tag-and-id{
        width: 100%;
        height: 8%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        #header-tags{
            height: 100%;
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            #charactor{
                text-align: center;
                line-height: 40px;
                font-size: 25px;
                color: #FFb1b1;
                height: 50px;
                width: 50px;
                border: 5px solid rgba(255, 177, 177, 0.32);
                border-radius: 5px;
                transform: rotate(0.19deg);
            }
            #item-type{
                text-align: center;
                line-height: 40px;
                font-size: 25px;
                color: #bbb;
                height: 50px;
                width: 100px;
                border: 5px solid rgba(187, 187, 187, 0.32);
                border-radius: 5px;
                transform: rotate(0.19deg);
            }
            #good-store-mark{
                width: 50px;
                height: 50px;
            }
            #good-store-mark-hidden{
                width: 50px;
                height: 50px;
                visibility: hidden;
            }
        }
        #header-id{
            height: 100%;
            width: 250px;
            font-size: 20px;
            padding-left: 10%;
            padding-top: 3%;
        }
    }
    #item-name-and-follow{
        width: 100%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 50px;
        align-items: center;
        padding: 5px;
        font-size: 30px;
    }
    #image-preview{
        width: 100%;
        height: 40%;
        background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #price-and-purchase{
        width: 100%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        #price{
            font-size: 40px;
        }
        .purchase-button{
            height: 40px;
            width: 350px;
            background-color: #007bff;
            border: none;
            color: white;
            border-radius: 10px;
            font-size: 25px;
        }
    }
    #infos{
        width: 100%;
        height: 28%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        #infos-left{
            width: 47%;
            height: 100%;
            #rates{
                width: 100%;
                height: 30%;
                padding: 5px;
                display: flex;
                flex-wrap: wrap;
                #rates-title{
                    color: gray;
                    width: 20%;
                    height: 40%;
                }
                #rates-visual{
                    width: 80%;
                    height: 40%;
                }
                #rates-description{
                    margin-top: 2px;
                    display: flex;
                    align-items: center;
                    padding-left: 5px;
                    width: 100%;
                    height: 60%;
                    background-color: #c4c4c4;
                }
            }
            #basic-info{
                height: 71%;
                width: 100%;
                padding: 5px;
                p{
                    padding: 5px;
                    margin: 0;
                    margin-bottom: 6px;
                }
                #basic-info-title{
                    color: gray;
                    width: 100%;
                    height: 20%;
                }
                #basic-info-description{
                    background-color: #c4c4c4;
                    height: 80%;
                    width: 100%;
                }
            }
        }
        #infos-right{
            width: 47%;
            height: 100%;
            padding: 5px;
            #spec-title{
                width: 100%;
                height: 10%;
                color: gray;
            }
            #spec-content{
                width: 100%;
                height: 90%;
                margin-top: 3px;
                background-color: #c4c4c4;
                position: relative;
                p{
                    margin: 0;
                    padding: 5px;
                    margin-bottom: 2px;
                }
                button{
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    border: none;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
}