$sidecolor : #FAEBE0;


#sidebar-trigger{
    width: 35px;
    height: 35px;
    background-color: $sidecolor ;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    margin-top: 200px;
    font-size: 30px;
    user-select: none;
    animation-duration: 1s;
    border: 1px  solid;
    border-left: 0px;
}

#sidebar{
    position: absolute;
    left: -500px;
    margin-top: 2px;
    background-color: $sidecolor;
    height: 83%;
    width: 500px;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    #sidebar-content{
        height: fit-content;
        position: absolute;
        top:10%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .sidebar-title{
            margin-top: 10%;
            width: 80%;
            height: 50px;
            text-align: left;
        }
        #dropdown-group{
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
        #sidebar-checkbox-list{
            width: 80%;
            display: flex;
            justify-content: space-around;
        }
        label{
            color: gray;
            font-size: 20px;
            line-height: 100%;
        }
        #sidebar-great-store{
            width: 78%;
            display: flex;
            justify-content: left;
        }
    }
}
.sidebar-text{
    color: gray;
    font-size: 25px;
}


@keyframes pullout{
    from{
        transform: translate(0);
    }to{
        transform: translate(500px);
    }
}
@keyframes pushin {
    from{
        transform: translate(500px);
    }to{
        transform: translate(0);
    }
}